*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $color2;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  display: flex;
  flex-grow: 1;
}

footer {
  background: $color4;
}

.generator {
  background: $color3;
  min-width: 200px;
}

.preview {
  flex-grow: 1;
}
