*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $color2;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: $color5;
}

main {
  display: flex;
  flex-grow: 1;
}

footer {
  background: $color4;
}

.generator {
  background: $color3;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  &__img {
    max-width: 160px;
  }

  input {
    margin-top: 4px;
  }
}

.preview {
  flex-grow: 1;

  &__canvas {
  }
}
